.form {
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;

  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-4);

  background: var(--background-color);
  color: var(--text-color);

  @media screen and (min-width: 600px) {
    flex-direction: row;
    align-items: flex-start;
  }
}

.preview {
  grid-area: preview;
  max-height: 100%;
  position: relative;
  overflow-y: auto;
  margin: var(--spacing-6) 0 var(--spacing-2);
  width: 100%;
  background: var(--background-color);
  z-index: 9;

  > * {
    margin: 0 auto;
  }

  @media screen and (min-width: 600px) {
    width: min(200px, 100%);
    margin: var(--spacing-2) auto;
  }
}

.fields {
  padding: 0 var(--spacing-4) var(--spacing-5);
  grid-area: fields;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  max-width: var(--container-width);
  height: 100%;
  overflow-y: auto;
  margin: 0 auto;
  gap: var(--spacing-5);

  @media screen and (min-width: 600px) {
    padding: var(--spacing-5) var(--spacing-4) var(--spacing-5) 0;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: var(--spacing-2) var(--spacing-4);

  background: var(--background-color);
  border-top: 1px solid var(--border-highlight-color);
  z-index: 10;
}

.footerbuttons {
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--spacing-3);
}

.footerbuttongroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--spacing-3);
}

.emery {
  width: min(200px, 100%);
  max-height: min(228px, 100%);
  aspect-ratio: 200 / 228;
}
